html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
  background: #e6e7eb;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.editor {
  width: 100%;
  max-width: 736px;
  &__header {
      margin-bottom: 15px;
    font-size: 44px;
    text-align: center;

  }
}
.form {
  &__buttons {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: center;
  }
  &__textarea {
    width: 100%;
    min-height: 32x;
    padding: 16px;
    border: 1px solid #a1a4b1;
    border-radius: 4px;
  }
}

.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #121232;
  background: #fafafc;
  border-radius: 4px;
  padding: 12px 16px;
  &--save {
    margin-left: 32px;
    color: #fafafc;
    background: #121232;
    border: 1px solid #121232;
  }
    &--clear {
        margin-left: 32px;
        background-color: rgba(255, 0, 0, 0.6) ;
    }
  }
